.outer{
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	font-size: 0px;
}

.top{
	width: 50%;
	height: 200px;
	border: 1px black;
	display: inline-block;
}

.bottom{
	height: 300px;
	width: 33.33%;
	border: 1px black;
	display: inline-block;
}

.green{
	background-color: green;
}

.blue{
	background-color: blue;
}

.gray{
	background-color: gray;
}

.black{
	background-color: black;
}

.orange{
	background-color: orange;
}